.foodsearch-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  
}

.foodtype-container {
  margin-right: 2rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.foodtype-container h1 {
  font-size: 62px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 800;
  text-align: center;
}

.restaurantitem-container {
  display: inline-block;
  width: 65%;
 
  
}

.restaurant-image {
  width: 422px;
  height: 281px;
  border-radius:20px;
  overflow:hidden;
  
}

.restaurant-image img {
  border-radius:20px;
  object-fit:contain;
  width:100%;
}

.restaurant-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 1rem;
  height: 100%;
}

.restaurant-name {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 800;
  line-height: 5px;
    
  color: #000;
  margin-top:.5rem;
}

.restaurant-address {
  font-family: var(--font-family);
  font-size: 10px;
  font-weight: 450;
  line-height: 20px;
  color: #000;
  margin-top:1em;
}

.foodsearch {
  display: flex;
  flex-direction: column;
}

.foodsearch-heading {
  width: 100%;
  text-align: left;
  
}

.foodsearch-heading h1 {
  font-size: 62px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 800;
}

.button-wrapper {
  display: inline-block;
  margin-bottom: 1em;
}

.filter-button  {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family: var(--font-family);
  font-weight: 600;
  background: rgb(255, 255, 255, 0.3);
  color: black;
  border-radius: 15px;
  padding: 5px 15px;
  border-style: none;
  margin-left: 0.5em;
  float:right;
}

.filter-button:hover {
  background: white;
  transition: 0.5s;
}
.filter-button:focus {
  background: white;
  box-shadow: 5px 5px 8px rgba(133, 133, 133, 0.1);
}

/* .food-glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
} */


.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}

.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}

@media screen and (max-width: 990px) {
  .foodsearch-wrapper {
    flex-direction: column-reverse;
  }

  .foodtype-container {
    margin: 2rem 0;
  }

  .foodtype-container  {
    width: 48%;
  }

  .foodtype-container  {
    height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .restaurantitem-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .foodtype-container .gpt3__blog-container_article {
    width: 100%;
  }

  
}

@media screen and (max-width: 550px) {
  .gpt3__blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}

.filter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 400px;
  padding: 20px;
}
.filter {
  background-color: transparent;
  border: none;
  outline: none;
}
.filter > input {
  width: 0;
  height: 0;
}
.filter > input:checked + label {
  color: blue;
  border-color: blue;
}

.filter > label {
  padding: 5px;
  border-bottom: 2px solid transparent;
}
.filter > label:hover {
  color: blue;
  cursor: pointer;
}




.restaurant-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  /*background: #a6a6a6;*/
  border-radius: 20px;
}

.restaurant-image {
  width: 100%;
  height: 100%;
  border-radius:20px;
}

.restaurant-image img {
  width: 100%;
  height: 100%;
  border-radius:20px;
  object-fit:over;
}

@media screen and (max-width: 550px) {
   .restaurant-content h3 {
      font-size: 18px;
      line-height: 25px;
 }
}

.card-container {
  margin-top:1em;
  background: rgba(256,256,256,0.5);
  border-radius:20px;
  border-style:solid;
  border-width:0.5px;
  border-color:rgba(230,230,230,0.7);
  box-shadow:3px 3px 4px rgba(195,195,195,0.1);
}