.footer {
    display: flex;
    flex-direction: column;
}

#footer-glass {
        padding: 2rem 6rem 1rem 6rem;
}

.footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}

.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 1px solid #000;
    text-align: center;

    margin-bottom: 10rem;
    cursor: pointer;
}

.footer-btn p {
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 21px;
    color: #000;
    word-spacing: 2px;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
}

.footer-links_logo {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom:1rem;
}

.footer-links_logo img {
    width: 118px;
    height: 30px;
}

.footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

.footer-links_logo a {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #000;

    margin: 0.5rem 0;
    cursor: pointer;
    margin-left:2rem;
}

.footer-links_logo a:hover {
    color:#9a9a9a;
    transition:0.5s;
}

.button-wrapper {
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sns-button {
    display:inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255, 0.3);
    cursor:pointer;
}

.sns-button:hover {
    background: white;
    transition: 0.5s;
  }

.footer-links p {
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #000;
    cursor: pointer;
    display:block;
}

/*
.footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.footer-copyright p {
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #000;
}
*/

@media screen and (max-width: 850px) {
    .footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .footer-links div {
        margin: 1rem 0;
    }

    .footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}