@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

.slider-container {
  display: inline-block;
  
}

.small-glass{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display:flex;
  position:relative;
}

.small-glass a {
  display: flex;
  align-items: center;
  justify-content: center;
}


.downloads {
  display: flex;
  flex-direction: column;
}



.subtopic
{
  margin:10px 10px 10px 15px;
  font-size: 1.6rem;
  
  
}

.port_out{
  
  width: 20%;
  
  flex: 1 1 30%;
  align-items: center;

  

  
}
.port_out:hover{
  background-color: #ffffff80;
}




.doc-image {
  width: 100%;
  height: 100%;
  border-radius:15px;
  padding:10px;
  object-fit:cover;
  display:flex;
  justify-content: center;
  
}

.doc-image img {
  width:50%;
}





.back3{
  width: 210px;
	height: 40px;
  padding: 12px 0;
	position: inherit;
	
  color: black;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}
.back3:hover{
  background-color: rgba(209, 121, 215, 0.5);
}


.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}

.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}











