.upload-wrapper {
    display: flex;
    justify-content: center;
  }
  
 .image-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    row-gap: 6rem;
    list-style: none;
    margin-top: 6rem;
    text-align: center;
    padding-left: 0;
  }
  
  .image-grid p {
    grid-column-start: 2;
    opacity: 50%;
  }
  
  .image-grid li {
    overflow: hidden;
    height: 200px;
  }
  
  .image-grid img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    object-position: center;
  }