.about {
  background-image: url("./Main-about_page.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;

  
}

.page {
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100%;
}