
  
  .DataContainer {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; */
    
    display: inline-block;
    flex-direction: row;
    position:relative;

    /* display: flex;
    flex-direction: row;
    position: relative; */
  }
  
  .DataItem {
    min-height: 400px;
    height: 100%;
    padding-top: 20px;
    margin-top: 20px;
    overflow: auto;
    
  }
  
  .mapContainer {
    height: 600px;
    display: flex;
   

    

   
  }
  
  .topContainer {
    display: flex;
  }
  
  #donateButton {
    background-color: rgb(0, 73, 117);
    height: 100px;
    width: 100px;
  }
  
  #donateLink {
    color: white;
  }
  



  
  .verticalContainer {
    display: flex;
    flex-direction: column;
  }
  
  #topLogoContainer {
    max-width: 600;
    position: relative;
  }
  