@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.community_body {
  background-image: url("./community.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100%;


  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  max-height: max-content;
}


/* body 
{
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  max-height: max-content;
} */
 

section > div {
  background: #f4f8fc;
}

nav {
  background: rgba(256,256,256,0.5);
  border-radius:15px;
  border-style:solid;
  border-width:0.5px;
  border-color:rgba(230,230,230,0.7);
  box-shadow:3px 3px 4px rgba(195,195,195,0.1);
  margin:1em 0;

  
}

.toolbar {
  display:flex;
  flex-direction: row;
  text-decoration: none;
}

.modal-backdrop {
  z-index: -1;
}



.home_container {
  overflow: scroll;
  scrollbar-width:none;
  
} 

/* .container {
  overflow: scroll;
  scrollbar-width:none;
}  */


#main__container {
  margin-top: 1em;
}

a {
  text-decoration: none !important;
}

#search__box {
  width: auto;
  background: rgba(256,256,256,0.5);
  border-radius:15px;
  border-style:solid;
  border-width:0.5px;
  border-color:rgba(230,230,230,0.7);
  box-shadow:3px 3px 4px rgba(195,195,195,0.1);
  }





.dropdown-menu {
    background: rgba(256,256,256,0.5);
    border-radius:15px;
    border-style:solid;
    border-width:0.5px;
    border-color:rgba(230,230,230,0.7);
    box-shadow:3px 3px 4px rgba(195,195,195,0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding:5px 5px;
    }
    
.dropdown-item {
    border-radius:15px;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    }
    
.dropdown-item:hover {
      background:#fff;
    }
    
::-webkit-scrollbar {
      display: none;
    }
    


.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(256,256,256,0.5);
  border-radius:15px;
  border-style:solid;
  border-width:0.5px;
  border-color:rgba(230,230,230,0.7);
  box-shadow:3px 3px 4px rgba(195,195,195,0.1);
  width: 100%;
  height: auto;
  margin: auto;
  padding:1em;
  }
  
  .create__post {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  #create__input {
  height:2.7em;
  width:84.5%;
  border:none;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:300;
  }
  
  .btn__primary {
  border: none;
  background: rgb(255, 255, 255, 0.3);
  color: black;
  border-radius: 15px;
  padding: 0.3em 0.8em;
  font-size: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  }
  
  .btn__primary:hover {
  background: white;
  transition: 0.3s;
  }
  
  #post__button {
  width:100%;
  margin:0.9em auto;
  margin-bottom: 0;
  }
  
  .dummy__img {
    height: 24em;
    width: 100%;
  }
  
  .post__card {
    width: 100%;
    margin:1.5em auto;
    background: rgba(256,256,256,0.5);
    border-radius:15px;
    border-style:solid;
    border-width:0.5px;
    border-color:rgba(230,230,230,0.7);
    box-shadow:3px 3px 4px rgba(195,195,195,0.1);
    padding: 1em;
  }
  
  .post__header,.post__action {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    font-family: var(--font-family);
    font-weight:500;
  }
  
  
  .post__header p {
    margin: 0 0.5em;
    color: #747474;
    font-size: 0.8em;
  }
  
  .post__body p {
    margin: 0.5em 0 0.3em 0;
    color: #464545;
    font-size: 0.9em;
    word-break:break-word;
  }
  
 
  
  .post__action {
    margin-top: 0.5em;
  }
  
  .post__action span {
    font-family: 'Ubuntu';
    color: #666666;
  }
  
  .post__action i {
    font-size: 1.25em;
    cursor: pointer;
    color: rgb(187, 184, 184);
  }
  .loader {
    border: 0.3em solid #f3f3f3; /* Light grey */
    border-top: 0.3em solid #445ef3; /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 2s linear infinite;
    overflow-y: hidden;
    position: absolute;
    margin-top:2em;
    left: 45%;
  }



  .modal-content {
    background: rgba(256,256,256,0.5);
    border-radius:15px;
    border-style:solid;
    border-width:0.5px;
    border-color:rgba(230,230,230,0.7);
    box-shadow:3px 3px 4px rgba(195,195,195,0.1);
    padding: 1em;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .deleted {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }










